.myHeader {
  max-width: 100%;
  background-color: #affc41;
  border: black solid, 2px;
}

.rounded-full {
  border: black 1px solid;
}

.searchInput {
  background-color: hotpink;
  border: black 1px solid;
}

.container {
  border-bottom: #086375 solid 2px;
}

.species {
  color: hotpink;
}

.nameColor {
  color: #affc41;
}

.swing:hover {
	transform-origin: top center;
	animation: swing 2s ease;
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}